.mainBGcol{
    background-color: rgb(17, 43, 34);
    text-align: center;
  }

  .logHead{
    text-align: center;
    color: aliceblue;
    font-size: 100px;
}
.container {

    justify-content: center;
    align-items: center;
}
.burger{
width: 1240px;
height: 55px;
color: aliceblue;
background: rgba(164, 9, 9, 0.79);
border-radius: 20px;

}

.card{
color: rgb(255, 255, 255);
background: rgba(0, 0, 0, 0.81);
border-radius: 10px;

}

.text-body-secondary{
    color: rgb(191, 193, 194);
}
.menuImg{
width: 200px;
height: 200px;
}

.btn {
    position: relative;
    align-items: center;
    margin-top: 20px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: rgb(255, 248, 248);
    background-color: rgb(122, 7, 7);
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #aca3a3;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }


   /* Modal form styling */
.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

.form-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button margins */
.btn {
    margin-right: 10px;
}
